body{
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
    background:#eaf4ff;
}

.container{
    width:450px;
    margin:50px auto;
    background:#fff;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

h1,h2{
    text-align:center;
    color:#0d6efd;
}

input, select, textarea{
    width:100%;
    padding:10px;
    margin:8px 0;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    width:100%;
    padding:10px;
    background:#0d6efd;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#084298;
}

a{
    color:#0d6efd;
    text-decoration:none;
}

table{
    width:100%;
    border-collapse:collapse;
}

table, th, td{
    border:1px solid #ccc;
}

th{
    background:#0d6efd;
    color:white;
}

th,td{
    padding:10px;
    text-align:center;
}